.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.card {
    background: hsl(0, 0%, 100%);
    max-width: 500px;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

}
.card-left-top {
    border-radius: 10px 0 0 10px;
    min-width: 250px;
    min-height: 100%;
}
.card-right-bottom {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-perfume{
    width: 100%;
    border-radius: 10px 0 0 10px ;
    height: 100%;
}

@media screen and(max-width:650px){
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 375px;   
    }
    .card-left-top {
        border-radius: 10px 10px 0 0px;
        min-width: 250px;
        max-width: 375px;
        height: 250px;
    }
    .img-perfume{
        width: 100%;
        border-radius: 10px 10px 0  0 ;
    }
    
}