.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.card {
    background: hsl(0, 0%, 100%);
    max-width: 500px;
    max-height: 600px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

}
.card-left-top {
    border-radius: 10px 0 0 10px;
    min-width: 250px;
    min-height: 100%;
    background-image: url('./images/image-product-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;


}
.card-right-bottom {
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and(max-width:765px){
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 375px;   
    }
    .card-left-top {
        border-radius: 10px 10px 0 0px;
        min-width: 250px;
        height: 250px;
        background-image: url('./images/image-product-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-clip: border-box;
    
    
    }
    
}